body {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
    background-color: #101010;
    color: white;
    outline: none;
    user-select: none;
    transition: 0.2s ease;
    overflow: hidden; /* Hide scrollbars */
}

#intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 200;
    transition: 0.1s ease;
    width: 500px;
    text-align: center;
    opacity: 0;
}

#intro-text p {
    margin: 0;
    padding: 0;
}

#intro-text span {
    font-weight: 100;
    padding-left: 30px;
}

.outmain-frame {
    position: absolute;
    width: 100%;
}

.main-frame {
    border: 1px solid white;
    height: 93.6vh;
    margin: 28.4px 28.4px 0 28.4px;
    /*  background-color: red; */
    background-image: radial-gradient(#2b2b2b 0.5px, #101010 0.1px);
    background-size: 10px 10px;
}

.title-container {
    margin: 0;
    display: inline-block;
}

h1 {
    margin: 35px 20px 2px 35px;
    font-size: 6vw; /* Ekran genişliğinin %8'i kadar */
    width: fit-content;
    font-weight: lighter;
}

h2 {
    margin: 0px 20px 0 35px;
    font-size: 2vw; /* Ekran genişliğinin %3'ü kadar */
    width: fit-content;
    font-weight: lighter;
}

.sidenav ul {
    list-style-type: none;
    margin: 60px 35px;
    padding: 0;
    width: fit-content;
    font-size: 12px;
    text-align: left;
}

.sidenav button {
    border: none;
    background: none;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 8px 0px;
    transition: 0.15s;
    width: fit-content;
    font-weight: bold;
}

.sidenav button:hover {
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
        0 0 120px #fff;
}

.sidenav button:disabled {
    pointer-events: none;
    text-shadow: 0 0 1px #ffffff3d, 0 0 2px #ffffff3d, 0 0 4px #ffffff3d,
        0 0 8px #ffffff3d, 0 0 12px #ffffff3d;
}

.home-section {
    pointer-events: none !important;
    position: relative; /* veya fixed */
    bottom: 43%;
}

.home-section p {
    position: fixed;
    height: fit-content;
    width: 150px;
    right: 25px;
    bottom: 4%;
}

.image-container {
    position: fixed;
    width: 45%;
    min-width: 400px;
    max-width: 600px;
    height: 256px;
    bottom: 4%;
    right: 215px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    filter: drop-shadow(0mm 0mm 1mm rgb(220, 173, 20));
}

.image-container img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container figcaption {
    position: absolute;
    bottom: 10px; /* Yazıyı imajın alt kısmına sabitler */
    bottom: 1%; /* Ortaya hizalar */
    font-style: italic;
    font-size: 13px;
    color: white; /* Yazıyı görünür yapmak için */
    padding: 5px; /* Biraz iç boşluk ekler */
}

.projects-section ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    margin-right: 55px;
    width: 75%;
    right: 20px;
    bottom: 100px;
    height: 60vh;
    text-align: right;
    font-weight: 100;
    font-size: 35px;
}

.projects-section a {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: fit-content;
    margin: 0;
}

.projects-section a:hover {
    text-shadow: 0 0 1px red, 0 0 2px red, 0 0 4px red, 0 0 8px red,
        0 0 12px red;
    color: rgb(255, 104, 104);
}

.hyper-casual-text {
    display: inline-block;
    margin-left: 5px;
    width: 125px;
    opacity: 0;
    transition: 0.2s;
}

.alt-info {
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: 75%;
    margin-bottom: 20px;
    font-size: 15px;
}

.contact-section ul {
    list-style-type: none;
    position: absolute;
    margin: 15px;
    width: 150px;
    height: fit-content;
    left: 20px;
    bottom: 70px;
}

.contact-section a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    width: 300px;
}

.contact-section i {
    padding-right: 5px;
}

.contact-section a:hover {
    letter-spacing: 0.1em;
    text-shadow: 0 0 1px #ffffff3d, 0 0 2px #ffffff3d, 0 0 4px #ffffff3d,
        0 0 8px #ffffff3d, 0 0 12px #ffffff3d;
}

.msection p {
    margin-right: 20px;
}

.msection {
    transition: 0.2s;
}

footer {
    position: absolute;
    height: fit-content;
    left: 40px;
    bottom: 8px;
    font-size: 12px;
}

footer p {
    margin: 0;
}

.hidden {
    opacity: 0%;
    pointer-events: none;
    pointer-events: none;
}

.active {
    opacity: 100%;
    pointer-events: auto;
}

@media screen and (max-width: 1080px) {
    .hp-games-section img {
        opacity: 0;
    }

    .hyper-casual-text {
        display: none;
    }
    .hp-button {
        pointer-events: none;
    }
}

@media screen and (max-width: 768px) {
    .sidenav ul {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sidenav button {
        padding-left: 30px;
        width: auto;
        padding: 8px 10px;
        font-size: 15px;
    }

    .sidenav button:last-child {
        margin-right: 0; /* Son butonun sağ tarafındaki boşluğu kaldır */
    }

    .home-section {
        position: relative; /* Konumlandırmayı kontrol etmek için */
        height: 100vh; /* Ekranın tamamını kapla */
        text-align: center; /* Metni merkezle */
    }

    .image-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);

        width: 87.5%;
        min-width: 50px;
        max-width: 750px;

        height: 33vh;

        padding: 0;
        margin: 0;
    }

    .home-section p {
        padding: 0;
        margin: 0;

        font-size: 3vw;
        width: 60%;

        z-index: 20;
        position: absolute; /* Konumlandırmayı tam kontrol et */
        top: 75%; /* Alt taraftan 150px uzaklıkta olsun */
        left: 50%; /* Yatayda ortala */
        transform: translateX(-50%); /* Tam ortalamak için sola kaydır */
    }

    .main-frame {
        height: 90vh;
        margin: 15px 15px 0 15px;
    }

    .projects-section ul {
        padding: 0;
        margin: 0;

        width: 90%;

        z-index: 20;
        position: absolute; /* Konumlandırmayı tam kontrol et */
        top: 28%; /* Alt taraftan 150px uzaklıkta olsun */
        left: 50%; /* Yatayda ortala */
        transform: translateX(-50%); /* Tam ortalamak için sola kaydır */

        text-align: center;

        height: fit-content;
    }

    .projects-section a {
        font-size: 5vw;
        width: fit-content;
    }

    .alt-info {
        font-size: 2.25vw; /* Alt bilgi yazı boyutu */
        color: white; /* Daha soluk bir renk */
    }

    .contact-section {
        background-color: green;
        z-index: 500;
        border: 1px solid red;
    }

    .contact-section ul {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0;
        margin: 0;
        text-align: center;
        width: 75%;
    }

    .contact-section a {
        font-size: 5vw;
        width: 100%;
    }

    h1 {
        margin: 20px 0px 0px 20px;
        font-size: 50px;
    }

    h2 {
        margin: 0px 20px 0 20px;
        font-size: 15px;
        width: 350px;
        font-weight: lighter;
    }

    #intro-text {
        font-size: 22px;
        width: 250px;
        text-align: center;
    }

    #intro-text span {
        padding-left: 15px;
    }

    footer {
        display: none;
    }
}

@keyframes glowEffect {
    0% {
        border-color: white;
        box-shadow: 0 0 3px white, 0 0 10px white;
    }
    100% {
        border-color: white;
        box-shadow: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
